<div class="content">
  <h3>Edit Person</h3>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>First name:</label>
      <input type="text" formControlName="firstName" aria-label="First Name">
      <div class="error" *ngIf="editForm.get('firstName')?.errors?.['required'] && editForm.get('firstName')?.touched">
        First name is required
      </div>
    </div>

    <div class="form-group">
      <label>Last name:</label>
      <input type="text" formControlName="lastName" aria-label="Last Name">
      <div class="error" *ngIf="editForm.get('lastName')?.errors?.['required'] && editForm.get('lastName')?.touched">
        Last name is required
      </div>
    </div>


    <div class="form-group">
      <label >Birth Date</label>
      <input type="date"
             aria-label="Birth date"
             formControlName="birthDate"
             [value]="editForm.get('birthDate')?.value | date:'yyyy-MM-dd'"
             (change)="onDateChange($event)"
             >
      <div class="error" *ngIf="editForm.get('birthDate')?.errors?.['required'] && editForm.get('birthDate')?.touched">
        Birth date is required
      </div>
    </div>

    <div class="form-group">
      <label>ID:</label>
      <select formControlName="departmentId" aria-label="Department">
        <option *ngFor="let department of departments | async" [value]="department.id">
          {{ department.name }}
        </option>
      </select>
      <div class="error" *ngIf="editForm.get('departmentId')?.errors?.['required'] && editForm.get('departmentId')?.touched">
        Department is required
      </div>
    </div>

    <div class="modal-actions">
      <button type="submit" [disabled]="!editForm.valid">Save</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
